
body  {
    /*background-image: url("D:/MyFiles/OwnSite/my-private-site/src/images/hackPing.jpg");*/
    background-image: url("../images/greenCode.jpg");
    background-size: cover;
    min-height: 72vh;
    flex-direction: column;
    color: white;
    margin: 0;
    position: relative;
    z-index: -1;




    /* Nusxa olishni cheklab qo'yish qismi */
    user-select: none; /* Barcha sahifadagi matnni tanlashni o'chiradi */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    img {
        pointer-events: none; /* Rasmga o'ng tugma bosishni o'chiradi */
    }

}

.x {
    color: #45ee0c;
}
